.App {
  text-align: center;
}

.door{
  height: 100%;
  position: absolute;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
  top: 0%;
  left: 0%;
}

.star{
  height: 45%;
  animation: App-logo-spin infinite 30s linear;
  position: absolute;
  top: 11%;
  left: 18%;
  /*transform: translateX(-50%);*/
  transform: translate(-50%,-50%);
}

.doorstarbox{
  height: 40vh;
  width: 25vh;
  position: fixed;
  top: 50%;
  left: 50%;
  /*transform: translateX(-50%);*/
  transform: translate(-50%,-50%);
}

.A{
  height: 40vh;
  width: 25vh;
  position: fixed;
  top: 50%;
  left: 50%;
  /*transform: translateX(-50%);*/
  transform: translate(-50%,-50%);
}

.begintext{
  position: fixed;
  width:100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-100%);
  font-family: 'Space Mono', monospace;
}

.projectimage{
  border-width: 5px;
  border-color: white;
  border-style: double;
  width: 90%;
  left: 5%;
  positon: relative;
}

.projectimage:hover {
  border-width: 3px;
}

.wholemenu{
  position: absolute;
  width:100vw;
  height:100vh;
}

.menutext{
  font-family: 'Space Mono', monospace;
  color: white;
  text-align: center;
  -webkit-user-select: none;
}

.projecttext{
  font-family: 'Space Mono', monospace;
  color: white;
  text-align: left;
}

.hello{
  font-family: 'Space Mono', monospace;
  color: white;
  text-align:left;
}
.helloContainer{
  top: 25vh;
  position: fixed;
  left: 25vw;
  width: 50vw;
}
@media (min-width: 1510px){
  .helloContainer{
    top: 25vh;
    position: fixed;
    left: calc(50vw - 425px);
    width: 850px;
  }
}

h1, h3{
  font-family: 'Space Mono', monospace;
  color: white;
  text-align: center;
}


@media (min-width: 875px){
.listcontainer{
  left: calc(27% - 100px);
  position: absolute;
  width: calc(73vw + 20px);
  height: 100vh;
  top: 5vh;
}
.projectcontainer{
  left: calc(13.5vw - 10px);
  position: absolute;
  width: calc(73vw + 20px);
  height: 100vh;
  top: 5vh;
}
.menucontainer{
  width: 120px;
  height: 200px;
  left: calc(25% - 200px);
  top: 200px;
  border: 1px;
  color: white;
  position: fixed;
  z-index: 2;
}
.menucontainer img{
  display: none;
}
.noMobile{
  display: none;
}
}

@media (min-width: 1810px){
.listcontainer{
  left: calc(32% - 100px);
  position: absolute;
  width: 1250px;
  height: 100vh;
}
.projectcontainer{
  position: absolute;
  width: 1250px;
  height: 100vh;
  left: calc(50vw - 450px);
}
.menucontainer{
  width: 120px;
  height: 200px;
  left: calc(29% - 200px);
  top: 200px;
  border: 1px;
  color: white;
  position: fixed;
  z-index: 2;
}
.menucontainer img{
  display: none;
}
}

@media (max-width: 875px){
.listcontainer{
  left: 15px;
  position: absolute;
  width: calc(100vw - 30px);
  height: 100vh;
  top: 13vh;
}
.listcontainer{
  left: 15px;
  position: absolute;
  width: calc(100vw - 30px);
  height: 100vh;
  top: 13vh;
}
.menucontainer{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
}
.menucontainer a{
  display: none;
}
.noMobile{
  color: red;
  font-family: 'Space Mono', monospace;
}

}

.listcontainer{
  overflow-x:hidden;
}

.lefttophandlight{
  height: 21vh;
  left: -3vw;
  top: -6vh;
  ransform: translate(-50%, -50%);
  position: fixed;
  z-index: 1;
  transform: rotate(-60deg);
}

.backarrow{
  height: 10vh;
  left: 1vw;
  top: 1vh;
  ransform: translate(-50%, -50%);
  position: fixed;
  z-index: 1;
}

.skybackground{
  top: 50%;
  left: 50%;
  /*transform: translateX(-50%);*/
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  position:fixed;
  z-index:-1;
  position: fixed;
};

.progress {
  transition: top 100ms linear;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  width: 100%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
